## 3. List

In [1]:
thislist = [1, 2, 3]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2],
      "\nlast value:", thislist[-1])

[1, 2, 3]
<class 'list'>
index 0 : 1
index 1 : 2
index 2 : 3
last value: 3

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist[2] = "strawberry" # str과 다르게 list는 바꿀 수 있음
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

['apple', 'banana', 'strawberry']
<class 'list'>
index 0 : apple
index 1 : banana
index 2 : strawberry

In [6]:
thislist = [1, "banana", [1]] #list의 element로 list를 쓸 수 있음
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

[1, 'banana', [1]]
<class 'list'>
index 0 : 1
index 1 : banana
index 2 : [1]

### 3-1. List slicing

In [9]:
# How to slice our list?
thislist = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]
newlist = thislist[2:6] #괄호 첫번째 index에 해당하는 element부터 두번째 index 전까지의 element들을 슬라이싱
print(newlist)

[3, 4, 5, 6]

In [13]:
newlist = thislist[:] #왼쪽에 아무것도 안적으면 처음부터, 오른쪽은 끝까지 이런 뜻
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
anotherlist = [3, 5, 7, 9, 11 ,13, 15, 17, 19]

# 4th ~ 8th elements ( new list will have 5 elements)
# correct answer : [9, 11, 13, 15, 17]

start = 3
end = -1   # -2라고 적으려다가 어쨌든 해당 index 전까지 슬라이싱할 것 같아서 -1했는데 추측이 맞는듯
newlist = anotherlist[ start : end ]
print(newlist)

[9, 11, 13, 15, 17]

In [17]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[1]
print (newlist)

[4, 5, 6]

In [18]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[0:2]
print (newlist)

[[1, 2, 3], [4, 5, 6]]

In [21]:
# we want element 3
newlist = thislist[0][2] # 예전에 파이썬 조금한걸로 풀었는데 가장 큰 리스트 범위 index 다음에 선택된 리스트 index 하면 됨
print (newlist)

3

In [23]:
[1, 2, 3] + [4, 5, 6] #element끼리의 합이 아니라 list가 두 개로 합쳐질뿐

[1, 2, 3, 4, 5, 6]

In [24]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
# 리스트 a = [1, 2, 3] 에 원소 4(b)를 추가하고 싶다면? (append 사용)
a = [1,2,3]
b = 4

# Type your code here
c = [1]
c[0] = b
a = a + c

print (a)
print (len(a))

[1, 2, 3, 4]
4

In [0]:
a = [1,1005,24,267,1,6,3,78,9,37,9,47]

In [42]:
a.sort() # 오름차순으로 sorting
print (a)

[1, 1, 3, 6, 9, 9, 24, 37, 47, 78, 267, 1005]

## 4. tuple

In [45]:
thistuple = ("apple", "banana", "cherry")  #튜플은 ()이거 쓰나봄
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [47]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1]) #인덱싱은 리스트랑 동일

banana

tuple은 list와 동일하게 element에 접근할 수 있다. 그러나 element의 변경을 허용하지 않도록 의도할 때 list 대신 사용한다.

In [48]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "mango"
print(thistuple)

TypeError: ignored

In [50]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[0:2]) #슬라이싱도 리스트랑 동일

('apple', 'banana')

In [52]:
("apple", "banana", "cherry") + ("mango",) #이것두

('apple', 'banana', 'cherry', 'mango')

In [54]:
("apple", "banana", "cherry") * 2 #이것두

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## 5. dictionary

Dictionary는 key와 value를 한 쌍으로 가지는 element들의 집합이다.

In [55]:
# 직접 생성
thisdict = {
  "name": "Damian",
  "height": 180,
  "weight": 60
}
print(thisdict)
print(type(thisdict))

{'name': 'Damian', 'height': 180, 'weight': 60}
<class 'dict'>

In [57]:
# dict() 사용
thisdict = dict(
    name = "Damian",
    height = 180,          #위에껀 딕셔너리 형식으로 써야하는 거고 이건 dict()라는 함수로 변수에 값 할당하는 것처럼 딕셔너리를 만들수 있음
    weight = 60
)
print(thisdict)
print(type(thisdict))

{'name': 'Damian', 'height': 180, 'weight': 60}
<class 'dict'>

In [59]:
# from other types
info = [('name','Damian'),('height',180),('weight',60)] #튜플 3개를 element로 가지는 리스트
thisdict = dict(info) #그 리스트를 딕셔너리로 만듦
print (thisdict)
print(type(thisdict))

{'name': 'Damian', 'height': 180, 'weight': 60}
<class 'dict'>

In [61]:
x = thisdict["name"] #name이라는 key값에 해당하는 value인 damian이 x에 저장
print('value :', x)

value : Damian

In [66]:
# 새로운 정보 추가
thisdict["age"] = 25   #딕셔너리의 새로운 key를 그냥 적고 값을 할당만 해주면 됨 아무것도 안적으면 안되더라
print (thisdict)

{'name': 'Damian', 'height': 180, 'weight': 60, 'age': 25}

In [85]:
# 본인의 정보(이름, 나이, 성별)로 이루어진 딕셔너리를 만들어보시오.
I_dict = {
    'name': 'Inae',           #콤마 안쓰면 안되더라
    'age': 23,   #23이라고 쓰면 integer로 인식해서 값을 할당하고 '23'이라고 쓰면 str 취급하겠지..? 어쨌든 둘다 가능
    'sex': 'f'
}
print(I_dict)

I_dict = dict(
    name = 'minsu',
    age = 19,
    sex = 'm'
)
print(I_dict)     #딕셔너리 쓸때 t빼먹지않도록 하자

info = [('name','yeongsook'),('age',46),('sex','f')]
I_dict = dict(info)
print(I_dict)

{'name': 'Inae', 'age': 23, 'sex': 'f'}
{'name': 'minsu', 'age': 19, 'sex': 'm'}
{'name': 'yeongsook', 'age': 46, 'sex': 'f'}