## 6. Set

중복을 허용하지 않고 순서가 없다. / 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형

In [3]:
print ({1,1,2,3,3,4}) #리스트는 [], 튜플은 (), 딕셔너리는 셋이랑 동일 {}

{1, 2, 3, 4}

In [4]:
print ({"a",4,2,4,"a","b",True})

{True, 'a', 2, 4, 'b'}

In [5]:
# from string
set('apple')

{'a', 'e', 'l', 'p'}

In [6]:
# from tuple
set((1,1,2,3,3,4))

{1, 2, 3, 4}

In [7]:
# from list
set([1,1,2,3,3,4])

{1, 2, 3, 4}

In [8]:
# from dictionary
set({'a':1, 'b':2, 'c':3})

{'a', 'b', 'c'}

In [10]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print (s1.intersection(s2)) # s1 & s2
print (s1.union(s2)) # s1 | s2
print (s1.difference(s2)) # s1 - s2

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

## 7. Boolean

참(True)과 거짓(False)을 나타내는 자료형으로 무엇인가를 판단할 때 사용

조건문의 결과값으로 사용

In [11]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

컴퓨터 과학에서 불리언(boolean) 자료형은 논리 자료형이라고도 하며, 참과 거짓을 나타내는 데 쓰인다. 주로 참은 1, 거짓은 0에 대응하나 언어마다 차이가 있다. 숫자를 쓰지 않고 참과 거짓을 나타내는 영단어 true와 false를 쓰기도 한다.

# Control statement

비교 연산자 : 참/거짓을 판단하기 위해 사용되며 참일 경우 True, 거짓일 경우 False를 반환

In [12]:
print (True == 1)

True

In [13]:
print (False == 0)

True

In [14]:
print (True == False)

False

In [15]:
print (2 > 0)

True

In [17]:
print (1 != 2) # 1은 2와 같거나 다르다

True

논리 연산자 (and : 모두 참이여야 참 / or : 하나라도 참이면 참 / not : 반대)

In [18]:
print (True and True)

True

In [19]:
print (1==1 and 2==2)

True

In [20]:
print (True or False)

True

In [21]:
print (1==1 or 1==2)

True

In [22]:
print (not True)

False

## 1. Conditional statement 
조건에 따라 다른 Action을 실행

#### if 문 : 조건 검사 후 True 이면 실행

In [23]:
a = 10
b = 1

if a > b:
    print ('a is greater than b')

if a < b:
    print ('a is smaller than b')

a is greater than b

In [27]:
""" 다음 문장을 코드로 작성하시오.
x = 10
y = 20

만약 y 가 x의 2배라면,
    문자열 'YES' 를 출력하시오.
"""
# Type your code here

x = 10
y = 20

if x*2 == y:
  print("YES")

YES

#### elif 문 : if 문이 false 이고, 다른 추가적인 조건을 줄 때 사용

In [28]:
a = 10
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')

a is equal to b

#### else 문 : if 문과 elif 문 검사 후, 둘 다 false 일 때 실행

In [29]:
a = 1
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')
else:
    print ('a is smaller than b')

a is smaller than b

In [30]:
""" 다음 문장을 코드로 작성하시오.
x = 10
y = 20

만약 y 가 x의 3배라면,
    문자열 'YES' 를 출력하시오.
그렇지 않다면,
    문자열 'NO' 를 출력하시오.
"""
# Type your code here

x = 10
y = 20

if x*3 == y:
  print("YES")
else:
  print("NO")

NO

In [31]:
name = "Damian"
age = 22

if age < 10:
    pass
elif name == 'Damian' and age < 20:
    print("Damian is a teenager")
elif age > 30:
    print("Damian is an uncle")
else: 
    print("Damian is awesome!!!")

Damian is awesome!!!

In [32]:
num = 10

if num > 0:
    if num % 2 == 0:
        print ('num is even number')
elif num == 0:
    print ('num is zero')
else:
    print ('num is negative')

num is even number

#### in 연산자 : 순환가능한 객체 내에 특정 element가 존재하는지 확인

Iterable 의 의미는 member를 하나씩 차례로 반환 가능한 object 이다. 
    ex) list, string, tuple

In [33]:
"apple" in ["apple", "banana", "cherry"]

True

In [34]:
"apple" in ["APPLE", "banana", "cherry"]

False

#### 참고 : Set VS List (performance)

In [37]:
import time 
l = list(range(1000000))
s = set(l)

start = time.time()
if 99999 in l:
    print ('list performance :', time.time() - start)

start = time.time()
if 99999 in s:
    print ('set performance :', time.time() - start)
# List보다 Set이 연산에 효율적이라는걸 보여줌 set은 정보의 순서가 없기 때문
# time.time()은 time.time()이 실행될 때의 시간인가봄
# 그래서 finish 시간을 따로 지정하지 않고 time.time() - start 하면 되는 부분,,

list performance : 0.0010902881622314453
set performance : 4.076957702636719e-05

#### is 연산자 : 같은 객체인지 확인  
#### == : 값들이 같은지 확인

In [41]:
# 모든 객체는 id를 가지고 있음
a = 1
b = "apple"
c = 1

print (id(a))
print (id(b))
print (id(c)) # a랑 c랑 다른 변수이지만 1이라는 같은 값(객체)를 가짐

10914496
140381634055224
10914496

In [43]:
x = [1,2,3]
y = [1,2,3]

print (x == y)
print (x is y)
print ("x id :", id(x))
print ("y id :", id(y)) # x랑 y랑 같은 리스트이지만 다른 객체,, 왜..?

True
False
x id : 140381642630792
y id : 140381633676552

## 2. Looping statement
반복하여 Action을 실행

#### for 문 : 순환가능한 객체에 차례로 접근

In [44]:
for i in 'cat':
    print (i)

c
a
t

In [45]:
for i in [1,2,3]:
    print (i)

1
2
3

In [46]:
for i in (10,20,30):
    print (i)

10
20
30

In [47]:
for i in {'name':'Damian', 'age':22}:
    print (i)

name
age

In [48]:
for x in range(10): # range 함수 : 순차적으로 증가 또는 감소하는 숫자 생성 / 메모리 효율성
    print(x)

0
1
2
3
4
5
6
7
8
9

In [50]:
list_from_range = list(range(10))
print (list_from_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# range 함수를 사용하여, 리스트 [20, 15, 10, 5, 0] 를 생성하시오.
start = 20
stop = -5
step = -5

answer = list(range(start, stop, step))
print (answer)

[20, 15, 10, 5, 0]

In [53]:
import sys

print ('memory for range(10) : ' , sys.getsizeof(range(10)))
print ('memory for range(100) : ' , sys.getsizeof(range(100)))
print ('memory for list(10) : ', sys.getsizeof(list(range(10))))
print ('memory for list(100) : ', sys.getsizeof(list(range(100))))

memory for range(10) :  48
memory for range(100) :  48
memory for list(10) :  200
memory for list(100) :  1008

#### while 문 : 조건문이 참인 동안 실행

In [54]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### break 문 : 가장 내부의 반복문 빠져나감
#### continue 문 : 다음 순환을 실행
#### else : break 만나지 않고 정상적으로 반복문이 종료되었을때 실행

In [58]:
for i in range(1,11):
    if i > 5 :
        break 
    print (i)
else : 
    print ("Exit without break")

1
2
3
4
5

In [60]:
for i in range(1,5):
    if i > 5 :
        break 
    print (i)
else : 
    print ("Exit without break")

1
2
3
4
Exit without break

In [61]:
for i in range(1,11):
    if i % 2 == 0 :
        continue 
    print (i)
else : 
    print ("Exit without break")

1
3
5
7
9
Exit without break

In [72]:
# 1부터 20까지의 리스트 [1,2,3,...,20]를 만들고 홀수만 출력하시오.
a = list(range(1,21))
print(a)

for element in a:
    if element % 2 == 1 : # 홀수인지 확인
        print (element)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1
3
5
7
9
11
13
15
17
19