# Hello World in Python

In [100]:
# 결과물을 화면에 출력
print ("Hello World!")

Hello World!

In [101]:
print ("Hello\tWorld")

Hello	World

In [102]:
print ('IN\tAE')

IN	AE

In [103]:
print ("Hello\nWorld!")

Hello
World!

In [104]:
help(print) # help 함수 : 함수의 도움말

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [105]:
print ('18','12','01')

18 12 01

In [106]:
print ('18','12','01', end='\n')
print ('a')

18 12 01
a

In [107]:
print('1','2','3', sep='&')

1&2&3

In [108]:
print('1','2', end = 'g' '3')

1 2g3

In [109]:
print(flush = True) #얘는 뭐냐

# Python as calculator

In [110]:
# 덧셈
1 + 1

2

In [111]:
# 뺄셈
130 - 2.0

128.0

In [112]:
# 나눗셈
131 / 2

65.5

In [113]:
# 곱셈
2 * 3

6

In [114]:
# 거듭제곱(pow function)
2 ** 3

8

In [115]:
# 나머지
10 % 3

1

In [116]:
# 몫
10 // 3

3

In [117]:
# 반올림
round(131 / 2)

66

In [118]:
# 12345 와 67890 을 곱한 결과를 화면에 출력하시오
12345 * 67890

838102050

In [0]:
# 모듈(module) : 함수나 변수 또는 클래스 들을 모아 놓은 파일
import math

In [120]:
# 올림
math.ceil(131 / 2)

66

In [121]:
# 버림
math.floor(131 / 2)

65

# Python indentations
파이썬은 코드 블록을 나타내기 위해 들여쓰기를 사용함(C/C++, Java 등의 타 언어는 { } 사용)

코드 블록 : 특정한 동작을 위해서 코드가 모여 있는 상태

In [122]:
if 5 > 2:
    print("Hello, World")
    print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [123]:
if 5 > 2:
    print("Hello, World")
print("Five is bigger than Two.") #이것도 둘 다 출력되겠지

Hello, World
Five is bigger than Two.

In [124]:
if 5 < 2:
    print("Hello, World")
print("Five is bigger than Two.") #아랫줄만 출력될듯

Five is bigger than Two.

In [125]:
if 5 > 2:
print("Hello, World")
print("Five is bigger than Two.") #에러날것같은데

IndentationError: ignored

In [0]:
 #if에 해당하는 코드블록이 없으니까 에러남

# Python variable types

지금부터 다양한 Python의 변수 type들을 배워보자.

기억할 점은, Python의 모든 변수(variable)은 클래스로 정의된 객체라는 점이다.

![title](https://github.com/hukim1112/DLCV_UOS/blob/master/lecture1/cookie.png?raw=1)

과자틀 → 클래스 (class)

과자틀에 의해서 만들어진 과자들 → 객체 (object)

In [0]:
class cookie: #클래스 선언
    
    shape = "circle" # attribute 
    
    def __init__(self, topping): 
        self.a = topping       #a가 topping이었을 때는 헷갈렸는데 어쨌든..
                               #윗줄의 topping은 입력단이라고 생각하면 될것같고
                               #self.a는 뭐지?? 변수 찍어내는 느낌인건가..
     
    def print_info(self): # method
        print ('This is ' + self.a + ' cookie')

In [133]:
c1=cookie('chocolate') #
print (c1.shape) #shape가 함수인가? 함수가 아니라면 어떻게 이런게 가능한거지?
c1.print_info()

circle
This is chocolate cookie

In [134]:
c2=cookie('vanilla')
print (c2.shape)
c2.print_info()

circle
This is vanilla cookie

In [135]:
c3=cookie('melon')
print (c3.shape)
c3.print_info()

circle
This is melon cookie

In [136]:
x = 5
y = 2.5
z = "John"
print(x)
print(x+y)
print(z)

5
7.5
John

In [142]:
x = 5
print (x)
x = "five"
print (x) # integer 클래스 객체에다가 string 클래스 객체 할당 가능 이말인가

5
five

In [139]:
print ('x is', x)
print ('y is', y)
print ('His name is', z)

x is five
y is 2.5
His name is John

## 1. Python Numbers

Python에는 세 가지 수치 타입이 있다.

- 정수형(integer)인 int.
- 소수형(floating number)인 float
- 복소수형(complex number)인 complex

In [0]:
x = 1 
y = 2.8 
z = 2 + 1j #i는 허수라고 안치는듯 그리고 j만 쓰면 변수로 취급함

In [143]:
print(type(x)) # int 클래스의 객체
print(type(y)) # float 클래스의 객체
print(type(z)) # complex 클래스의 객체

<class 'str'>
<class 'float'>
<class 'complex'>

## 2. String

In [0]:
a = "Hello, World!"

In [145]:
print(type(a)) # string 클래스의 객체
print(a[0], a[1], a[2], a[3], a[4], a[-1], a[12]) # indexing , 음수로 하면 뒤에 부터

<class 'str'>
H e l l o ! !

In [147]:
a.index('W') #a[i],i = integer 에서 i에 해당하는 숫자 말해주는듯 여기서 없는 
             #문자쓰면 에러뜸

7

In [148]:
a.find('W') #없는 문자 쓰면 -1이라고 뜸, 있는 문자 쓰면 자리도 찾아줌

7

In [149]:
len(a) # str a의 길이를 알려주는듯

13

In [150]:
a = "Hello, World!"
print(a.lower()) #lower은 대문자->소문자

hello, world!

In [151]:
a = "Hello, World!"
print(a.upper()) #upper는 소문자->대문자

HELLO, WORLD!

In [152]:
a = "Hello, World!"
print(a.split("W")) #split 기준으로 왼쪽 오른쪽 따로 뭐시기 하는건데 print안하고 a.split만하면 뭐가 되는 거냐 어디다 저장되는건가? 이것도 무슨 클래스 객체 뭐 그런건가?

['Hello, ', 'orld!']

In [153]:
dir(a) # 해당 객체가 어떤 변수와 메소드(method)를 가지고 있는지 보여줌

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [159]:
# dir 함수를 사용하여 "Hello, World!" 를 "Hellz, Wzrld!"로 바꾼 결과를 출력하시오. (알파벳 'o' -> 'z' 로 대체)
help(a.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [166]:
print(a.replace('o', 'z'))

Hellz, Wzrld!

In [168]:
print(a) #그니까 바로 위에 줄은 str a에서 o를 z로 바꿔서 출력할뿐 바뀐 채로 저장되는게 아닌듯함

Hello, World!

In [169]:
a = "Hello, Warld!"
a[8] = 'o' # I want to change 'a' to 'o' : impossible (String : immutable object)
                                              #String은 변경할수없는 객체라는 말

TypeError: ignored

In [170]:
"Python is " + "fun"

'Python is fun'

In [172]:
"Python" * 3                #'PythonPythonPython'이라고 출력될것같음
                            #근데 ''이건 왜 붙는 걸까

'PythonPythonPython'